body {
  margin: 0;
  padding: 0;
  background: #d2c3c2;
  color: #333;
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.link {
  color: #333;
  text-decoration: none;
}
